/* Estilos CSS existentes */
body {
    scroll-behavior: smooth;
    background-image: url('../img/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

span {
    border: 1px solid #cccccc;
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 3px;
    width: 48px;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
    border-top: 1px solid;
    box-shadow: 0px 3px 0px 2px;
}

.keys {
    top: 75%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    grid-gap: 1px;
}



.keys>span:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}

.keys>span:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.keys>span:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.keys>span:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

.restartButton {
    background-color: #8eff1c;
    font-size: 9px;
    height: 18px;
    width: 77px;
    border-radius: 10px;
}

.saltarButton {
    background-color: #8eff1c;
    font-size: 9px;
    height: 18px;
    width: 77px;
    border-radius: 10px;
}

.muteButton {
    background-color: #8eff1c;
    font-size: 9px;
    height: 18px;
    width: 77px;
    border-radius: 10px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#gameboy {
    width: 77%;
    height: auto;
}

#canvas {
    z-index: 1111;
    width: 41%;
    height: 48%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centers {
    display: flex;
    position: absolute;
    transform: translate(1801%, -744%);
    flex-direction: column;
}

.center {
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.joystick {
    width: 573px;
    height: 261px;
    transform-origin: center;
}

:root {
    /* Colors  */
    --green: #b5e27c;
    --blue: #6ac3d5;
    --light-green: #95dd62;
    --grey: #dbd1c7;
    --pink: #d9bccd;
    --yellow: #dfd379;
    --red: #d2636e;
    --brown: #9b7188;
    --dark: #53243d;
    --rgbap: rgba(0, 0, 0, 0.2);
    --rgbab: rgba(255, 255, 255, 0.5);

    --stroke: 6px solid #53243d;
    --radius: 50%;
}

button:active {
    transform: scale(0.9);
}



.body-control {
    background-color: var(--grey);
    border-top: var(--stroke);
    z-index: 9;
    position: absolute;
    width: 315px;
    height: 233px;
    transform: translatex(-50%);
    left: 50%;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 71% 100%, 29% 100%);
    text-align: center;

    box-shadow: inset 0px -6px var(--rgbap);
}

.stroke-base {
    position: absolute;
    background-color: var(--dark);
    top: 238px;
    z-index: -1;
    width: 315px;
    height: 7px;
    transform: translatex(-50%);
    left: 50%;
}

.controler {
    position: fixed;
}

.left-hand .controler {
    width: 163px;
    height: 163px;
    left: 13.7%;
    top: 64%;
    animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
}

.left-hand .controler button {
    border: var(--stroke);
    background-color: var(--brown);
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 9;
}

.left-hand .controler button:after {
    content: "◂";
    font-size: 30px;
    font-family: sans-serif;
    color: var(--dark);
    position: absolute;
    line-height: 0;
}

.left-hand .controler button.left:after {
    left: 5px;
    top: 8px;
}

.left-hand .controler button.right:after {
    right: 5px;
    top: 12px;
    transform: rotate(180deg);
}

.left-hand .controler button.top:after {
    left: 6px;
    top: 12px;
    transform: rotate(90deg);
}

.left-hand .controler button.bottom:after {
    right: 4px;
    bottom: 12px;
    transform: rotate(-90deg);
}

.left-hand .controler button.left {
    border-right: none !important;
    box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
    top: 50%;
    margin-top: -16px;
    left: 38px;
}

.left-hand .controler button.top {
    border-bottom: none !important;
    box-shadow: inset 0 4px var(--rgbab);
    left: 50%;
    margin-left: -16px;
    top: 38px;
}

.left-hand .controler button.right {
    border-left: none !important;
    box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
    top: 50%;
    margin-top: -16px;
    right: 38px;
}

.left-hand .controler button.bottom {
    border-top: none !important;
    box-shadow: inset 0 -4px var(--rgbap);
    left: 50%;
    margin-left: -16px;
    bottom: 38px;
}

.left-hand .controler:after,
.left-hand .controler:before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--brown);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px;
    z-index: 1;
}

.left-hand .controler:before {
    border-radius: var(--radius);
    border: 3px solid var(--dark);
    z-index: 99;
    box-sizing: border-box;
    box-shadow: inset 4px 0 var(--rgbab);
    transform: scale(0.8);
}

/* Estilos para el popup y la capa oscura */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Capa oscura */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Asegúrate de que esté por encima de otros elementos */
}

.popup-content {
    margin: 60% 0 0 0;
    top: 50%;
    background: #c4afafe0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content p {
    line-height: 30px;
    font-size: 10px;
}

.popup-content button {
    margin-top: 20px;
}

/* ANIMATIONS */
@keyframes fio {
    0% {
        top: -100%;
    }

    100% {
        top: -50%;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes starts {
    0% {
        top: 60%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

@keyframes scale-bg {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(4);
    }
}

@keyframes scale-reverse {
    0% {
        transform: scale(4);
    }

    100% {
        transform: scale(0);
    }
}

.left-hand .controler {
    display: none;
    width: 163px;
    height: 163px;
    left: 13.7%;
    top: 64%;
    animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
}

@media (max-width: 2560px) {
    .popup-content {
        margin: 37% 0 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
}

@media (max-width: 1281px) {
    .popup-content {
        margin: 37% 0 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(148%, -891%);
        flex-direction: column;
    }


}

@media (max-width: 1260px) {
    .popup-content {
        margin: 37% 0 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #canvas {
        width: 45%;
        height: 39%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 1001px) and (max-width: 1100px) {
    .popup-content {
        margin: 37% 0 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #gameboy {
        width: 90%;
        height: auto;
    }

    .keys {
        display: none;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(1094%, -945%);
        flex-direction: column;
    }

    .left-hand .controler {
        display: block;
        width: 165px;
        height: 163px;
        left: -31.3%;
        top: 23%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    #canvas {
        width: 46%;
        height: 32%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 951px) and (max-width: 1000px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 38% 0px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #gameboy {
        width: 90%;
        height: auto;
    }

    .keys {
        display: none;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(1038%, -945%);
        flex-direction: column;
    }

    .left-hand .controler {
        display: block;
        width: 165px;
        height: 163px;
        left: -28.3%;
        top: 23%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    #canvas {
        width: 46%;
        height: 32%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 901px) and (max-width: 950px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 38% 0px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #gameboy {
        width: 90%;
        height: auto;
    }

    .keys {
        display: none;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(972%, -945%);
        flex-direction: column;
    }

    .left-hand .controler {
        display: block;
        width: 165px;
        height: 163px;
        left: -24.3%;
        top: 23%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    #canvas {
        width: 46%;
        height: 32%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 841px) and (max-width: 900px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 38% 0px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    #gameboy {
        width: 90%;
        height: auto;
    }

    .keys {
        display: none;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(906%, -945%);
        flex-direction: column;
    }

    .left-hand .controler {
        display: block;
        width: 165px;
        height: 163px;
        left: -20.3%;
        top: 22%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    #canvas {
        width: 46%;
        height: 32%;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 769px) and (max-width: 840px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 60% 8px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .keys {
        display: none;
    }

    .centers {
        display: flex;
        position: absolute;
        transform: translate(816%, -803%);
        flex-direction: column;
    }

    .restartButton {
        background-color: #bbbbbb;
        font-size: 10px;
        height: 22px;
        width: 82px;
        border-radius: 10px;
    }

    .saltarButton {
        background-color: #bbbbbb;
        font-size: 10px;
        height: 22px;
        width: 82px;
        border-radius: 10px;
    }

    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 45px;
        height: 45px;
        background-color: var(--brown);
        position: absolute;
        top: 42%;
        left: 51%;
        /* margin: -15px; */

    }

    .left-hand .controler {
        display: block;
        width: 163px;
        height: 163px;
        left: 14.7%;
        top: 60%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 42px;
        height: 47px;
        margin-top: -18px;
        left: 41px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 61%;
        margin-left: -35px;
        top: 22px;
        width: 49px;
        height: 43px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 41%;
        margin-top: -16px;
        right: 17px;
        height: 47px;
        width: 47px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 43%;
        height: 43px;
        width: 47px;
        margin-left: -2px;
        bottom: 37px;
    }

    #gameboy {
        width: 100%;
        height: auto;
    }

    #canvas {
        width: 50%;
        height: 32%;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-51%, 17%);
    }

    .left-hand .controler {
        display: block;
        width: 166px;
        height: 168px;
        left: -23.3%;
        top: 28%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }
}

@media (min-width: 701px) and (max-width: 768px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 60% 8px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .keys {
        display: none;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(105%, -386%);
    }



    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 50px;
        height: 46px;
        background-color: var(--brown);
        position: absolute;
        top: 46%;
        left: 45%;
        margin: -15px;

    }

    .left-hand .controler {
        display: block;
        width: 163px;
        zoom: 55px;
        scale: 87px;
        height: 163px;
        left: 8%;
        top: 80%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 51px;
        height: 56px;
        left: 8px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 50%;
        margin-left: -27px;
        top: 7px;
        width: 57px;
        height: 54px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 5px;
        height: 56px;
        width: 52px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 43%;
        height: 53px;
        width: 58px;
        margin-left: -16px;
        bottom: 6px;
    }

    #canvas {
        width: 63%;
        height: 46%;
        position: absolute;
        top: 29%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #gameboy {
        width: 70%;
        height: auto;
    }

    .game {
        height: 100vh;
    }

    body {
        overflow-y: hidden;
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 60% 8px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .keys {
        display: none;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(88%, -642%);
    }


    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 50px;
        height: 46px;
        background-color: var(--brown);
        position: absolute;
        top: 46%;
        left: 45%;
        margin: -15px;

    }

    .left-hand .controler {
        display: block;
        width: 163px;
        zoom: 55px;
        scale: 87px;
        height: 163px;
        left: 16%;
        top: 80%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 51px;
        height: 56px;
        left: 8px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 50%;
        margin-left: -27px;
        top: 7px;
        width: 57px;
        height: 54px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 5px;
        height: 56px;
        width: 52px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 43%;
        height: 53px;
        width: 58px;
        margin-left: -16px;
        bottom: 6px;
    }

    #canvas {
        width: 59%;
        height: 38%;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #gameboy {
        width: 64%;
        height: auto;
    }

    .game {
        height: 100vh;
    }

    body {
        overflow-y: hidden;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .popup-content {
        /* text-align: center; */
        width: 62%;
        transform: translate(21%, 10px);
        margin: 60% 8px 0 0;
        top: 50%;
        background: #c4afafe0;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .keys {
        display: none;
    }

    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 41px;
        height: 41px;
        background-color: var(--brown);
        position: absolute;
        top: 41%;
        left: 51%;
        margin: -15px;
    }

    .left-hand .controler {
        display: block;
        width: 162px;
        height: 164px;
        left: 16.7%;
        top: 59%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 34px;
        height: 41px;
        left: 38px;
    }


    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 59%;
        margin-left: -28px;
        top: 17px;
        width: 40px;
        height: 39px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 19px;
        height: 41px;
        width: 40px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 41%;
        height: 38px;
        width: 41px;
        margin-left: 0px;
        bottom: 34px;
    }

    .left-hand .controler {
        display: block;
        width: 163px;
        height: 163px;
        left: 9.7%;
        top: 74%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(65%, -466%);
        -webkit-transform: translate(65%, -466%);
        -moz-transform: translate(65%, -466%);
        -ms-transform: translate(65%, -466%);
        -o-transform: translate(65%, -466%);
    }

    #canvas {
        width: 86%;
        height: 42%;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #gameboy {
        width: 94%;
        height: auto;
    }

    .game {
        height: 100vh;
    }

    body {
        overflow-y: hidden;
    }
}

@media (min-width: 425px) and (max-width: 500px) {
    .keys {
        display: none;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(47%, -917%);
    }

    .left-hand .controler {
        display: block;
        width: 188px;
        height: 188px;
        left: 10.7%;
        top: 63%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 44px;
        height: 49px;
        margin-top: -18px;
        left: 39px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 41%;
        margin-top: -16px;
        right: 17px;
        height: 50px;
        width: 47px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 61%;
        margin-left: -35px;
        top: 22px;
        width: 50px;
        height: 43px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 42%;
        height: 46px;
        width: 50px;
        margin-left: -2px;
        bottom: 37px;
    }

    #canvas {
        width: 84%;
        height: 36%;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #gameboy {
        width: 96%;
        height: auto;
    }

    .game {
        height: 100vh;
    }

    body {
        overflow-y: hidden;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    #gameboy {
        width: 97%;
        height: auto;
    }

    .keys {
        display: none;
    }

    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 41px;
        height: 41px;
        background-color: var(--brown);
        position: absolute;
        top: 41%;
        left: 51%;
        margin: -15px;
    }

    .left-hand .controler {
        display: block;
        width: 162px;
        height: 164px;
        left: 16.7%;
        top: 59%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 34px;
        height: 41px;
        left: 38px;
    }


    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 59%;
        margin-left: -28px;
        top: 17px;
        width: 40px;
        height: 39px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 19px;
        height: 41px;
        width: 40px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 41%;
        height: 38px;
        width: 41px;
        margin-left: 0px;
        bottom: 34px;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(69%, -1016%);
    }

    .restartButton {
        background-color: #797979;
        font-size: 7px;
        height: 15px;
        width: 71px;
        border-radius: 10px;
    }

    .saltarButton {
        background-color: #797979;
        font-size: 7px;
        height: 15px;
        width: 71px;
        border-radius: 10px;
    }

    #canvas {
        width: 88%;
        height: 32%;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-hand .controler {
        display: block;
        width: 163px;
        height: 163px;
        left: 21%;
        top: 66%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .keys {
        display: none;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(12%, -1162%);
    }

    .restartButton {
        background-color: #797979;
        font-size: 9px;
        height: 18px;
        width: 77px;
        border-radius: 10px;
    }

    .saltarButton {
        background-color: #797979;
        font-size: 9px;
        height: 18px;
        width: 77px;
        border-radius: 10px;
    }

    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 37px;
        height: 31px;
        background-color: var(--brown);
        position: absolute;
        top: 46%;
        left: 53%;
        margin: -15px;
    }

    .left-hand .controler {
        display: block;
        width: 162px;
        height: 164px;
        left: 16.7%;
        top: 59%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 31px;
        height: 41px;
        left: 41px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 61%;
        margin-left: -28px;
        top: 22px;
        width: 40px;
        height: 39px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 16px;
        height: 41px;
        width: 40px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 43%;
        height: 38px;
        width: 41px;
        margin-left: 0px;
        bottom: 36px;
    }

    #canvas {
        width: 84%;
        height: 29%;
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #gameboy {
        width: 96%;
        height: auto;
    }

    .game {
        height: 100vh;
    }

    body {
        overflow-y: hidden;
    }
}

@media (min-width: 200px) and (max-width: 319px) {
    .keys {
        display: none;
    }

    .left-hand .controler:after,
    .left-hand .controler:before {
        content: "";
        width: 37px;
        height: 31px;
        background-color: var(--brown);
        position: absolute;
        top: 44%;
        left: 54%;
        margin: -15px;
    }

    .left-hand .controler {
        display: block;
        width: 162px;
        height: 164px;
        left: 16.7%;
        top: 59%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    .left-hand .controler button.left {
        border-right: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        width: 34px;
        height: 41px;
        left: 29px;
    }

    .left-hand .controler button.top {
        border-bottom: none !important;
        box-shadow: inset 0 4px var(--rgbab);
        left: 63%;
        margin-left: -28px;
        top: 9px;
        width: 40px;
        height: 39px;
    }

    .left-hand .controler button.right {
        border-left: none !important;
        box-shadow: inset 0 4px var(--rgbab), inset 0 -4px var(--rgbap);
        top: 43%;
        margin-top: -16px;
        right: 6px;
        height: 41px;
        width: 40px;
    }

    .left-hand .controler button.bottom {
        border-top: none !important;
        box-shadow: inset 0 -4px var(--rgbap);
        left: 41%;
        height: 38px;
        width: 41px;
        margin-left: 0px;
        bottom: 25px;
    }

    #canvas {
        width: 63%;
        height: 19%;
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-hand .controler {
        display: block;
        width: 143px;
        height: 140px;
        left: 26.7%;
        top: 52%;
        animation: scale 2s cubic-bezier(0.89, 0.2, 0, 1.03);
    }

    #gameboy {
        width: 72%;
        height: auto;
    }

    .centers {
        display: block;
        position: absolute;
        transform: translate(32%, -1359%);
    }
}